div {
    background-image: url(../../assets/logos/background_primaPagina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

* {
    font-family: 'myFont', sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(../../assets/fonts/IndieFlower-Regular.ttf);
}