
* {
    font-family: 'myFont', sans-serif;
    font-size: 1.1em;
  
  }
  
  @font-face {
    font-family: myFont;
    src: url(../../assets/fonts/IndieFlower-Regular.ttf);
  }
  
  .overlay {    
    background-image: url(../../assets/logos/background_primaPagina.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 80%;
    position: fixed;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .product-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    
  }
  
  .product-images img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px; /* Increased border radius */
  }
  
  .product-details {
    flex: 2;
    max-width: 60%;
    text-align: center;
  }
  
  .product-details h2 {
    margin-bottom: 15px; /* Increased margin */
  }
  
  .price {
    font-weight: bold;
    font-size: 1.2em; /* Increased font size */
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em; /* Increased font size */
  }
  